#nav{

background-color: darkgreen;
border-radius: 30px;
height: 35px;
font-size: 25px;
font-weight: bold;
font:  Tahoma;
}
span:hover{
color:purple;
background-color: yellow;
cursor: hand;
}


#theform{
margin-left: auto;
margin-right: auto;
color: white;
display: block;
padding: 15px;
background-color: #2c8F77;
border: solid 2px black;
border-radius: 30px;
background-image: url(mi.jpg);
background-size: 250px;
width: 230px;
height: 180px;
}

div label{
text-decoration: underline;
font-weight: bold;
color: white;
}

.row{
display: table-row;


}

.row label{

display: table-cell;
padding: 2px;
text-align: right;

}


.row input:hover{
color: white;
background-color: black;
cursor: hand;
}

.row input{

display: table-cell;
padding: 2px;

}

fieldset{

display: block;
margin-left: auto;
margin-right: auto;

border-radius: 30px;
background: blue;
background: linear-gradient(red, green, red);
box-shadow: 15px 15px 15px orange;
width: 600px;
height: 400px;
}





#nav ul{

padding: 0;
margin: 0;
list-style-type: none;
text-align: center;
}

#nav li{

display: inline;
padding: 15px;
list-style-type: none;
vertical-align: middle;
}

#nav a{

text-decoration: none;
color: #00F;
padding: 8px 8px 8px 8px;
color: white;
vertical-align: middle;
}


#nav a:hover{

color: black;
background-color: white;
}